$color-theme: #ffcd32;
$color-theme-d: rgba(255,205,49,.5);
$font-size-large: 18px;
$font-size-medium: 14px;
$color-text: #fff;
$color-text-d: hsla(0,0%,100%,.3);
$color-text-l: hsla(0,0%,100%,.5);
$color-text-ll: hsla(0,0%,100%,.8);
$font-size-small: 12px;
$font-size-small-s: 10px;
$color-background: #222;
$color-background-d: rgba(0,0,0,.3);
$color-highlight-background: #333;
$font-size-large-x: 22px;
$font-size-medium-x: 16px;
$color-sub-theme: #d93f30;
$color-dialog-background: #666;